.change-password-page .login-box h2 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.change-password-page .form-group {
    margin-bottom: 0.5rem;
}

.form-group label{
    margin-top: 1rem; 
}

.change-password-page .password-instructions {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ffffff;
}

.change-password-page .go-back {
    margin-top: 1rem;
    text-align: center;
}

.change-password-page .go-back .link-button {
    text-decoration: underline;
    color: #ffffff;
}

.signup {
    text-align: center;
    margin-top: 1rem;
}