.reset-password-page .login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Montserrat, sans-serif;
}

.reset-password-page .right-section {
    margin: 20px;
    margin-right: 2cap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99235C;
    border-radius: 20px 0 20px 0;
    padding: 20px;
}

.reset-password-page .login-box {
    color: white;
    width: 100%;
    max-width: 400px;
    padding: 60px;
    margin: -10px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }
  
  .reset-password-page .login-box h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
    margin-top: -2rem;
  }
  
  .reset-password-page .login-box .form-group {
    margin-bottom: 0.1rem; 
    display: flex;
    flex-direction: column;
  }

  .reset-password-page .login-box label {
    margin-top: 0.1rem;
    display: inline-block;
  }
  
  .reset-password-page .login-box .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px; 
  }

  .error-input {
    border: 1px solid red;
    background-color: #ffe6e6;
  }
  
  .reset-password-page .login-box ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }
  
  .reset-password-page .login-box li {
    margin-bottom: 0.1rem;
  }
  
  .reset-password-page .login-box button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #99235C;
    font-weight: bold;
    font-size: 1rem;
    width: 50%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .reset-password-page .login-box .form-group .error-message {
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
  }
  
  .reset-password-page .login-box p {
    margin-bottom: 1rem;
  }

  .reset-password-page .submit-button {
    margin-bottom: -10px; 
  }

  .reset-password-page .input-container {
    position: relative;
  }
  
  .reset-password-page .password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.1rem;
    cursor: pointer;
    color:#99235C;
  }