/* Ventas.css */

.ventas-page {
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }

  .ventas-page h1 {
    text-align: center;
    color: #99235C;
  }
  
  
  .ventas-page .search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .ventas-page .search-bar .search-button,
  .ventas-page .search-bar .filter-button {
    color: #ffffff;
    background: #99235C;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .ventas-page .search-bar .search-button:hover,
  .ventas-page .search-bar .filter-button:hover {
    background-color: #7c1c4a;
  }
  
  .ventas-page .filter-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 20px;
    display: none;
    column-count: 3;
  }

  .ventas-page .filter-section .column-1 {
    margin-top: -20px; /* ajusta el valor según sea necesario */
}
  
  .ventas-page .filter-section.active {
    display: block;
  }

  .ventas-page .filter-section .filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ventas-page .filter-section .filter-group select {
      width: 100%;
  }
    
  
  .ventas-page .filter-section h4 {
    color: #99235C;
    margin-top: 20px;
    margin-bottom: 2px;
  }
  
  .ventas-page .filter-section select,
  .ventas-page .filter-section input[type="date"] {
    width: 75%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .ventas-page .filter-section button {
    background-color: #99235C;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 12px;
  }
  
  .ventas-page .filter-section button:hover {
    background-color: #7c1c4a;
  }

  .filters button{
    background-color: #99235C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    width: 20%;  
  }

  .ventas-page .search-bar .search-button {
    color: #ffffff;
    background: #99235C;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .ventas-page .clear-button {
    position: absolute;
    color: #99235C;
    left: 37rem;
    top: 0.9rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .export-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .export-buttons button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .export-buttons button:hover {
    background-color: #45a049;
  }
  
  
  .ventas-page input[type="text"] {
    padding: 12px;
    width: 30%;
    max-width: 400px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #e6e6e6;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .ventas-page .sales-list {
    display: flex;
    flex-direction: column;
  }
  
  .ventas-page .sale-card {
    border: 1px solid #ddd;
    border-radius: 20px 0;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .ventas-page .sale-card-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .ventas-page .sale-priority{
    margin-left: 1.5rem;
  }
  
  .ventas-page .sale-status {
    flex: 0 0 100px;
    text-align: left;
    font-weight: bold;
    margin-top: calc(6%);
    margin: 1rem;
  }
  
  .ventas-page .sale-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .ventas-page .info-top, .info-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  
  .ventas-page .info-top {
    font-size: 20px;
    color: #99235C;
    font-weight: bold;
  }
  
.ventas-page .info-bottom {
    font-size: 0.9rem;
  }
  
  .ventas-page .info-item {
    display: inline-flex;
    align-items: center;
    margin-top: auto;
  }
  
  .ventas-page .info-item:not(:last-child)::after {
    content: ' | ';
    margin-left: 5px;
    margin-right: 5px;

  }
  
  .ventas-page .info-item.purple {
    color: #99235C;
  }
  
  .ventas-page .info-item.gray {
    color: #525252;
  }

  .ventas-page .info-item + .info-item {
    margin-left: 0;
  }
  
  .ventas-page .info-item-link {
    margin-left: 5px;
  }
  
  .ventas-page .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .ventas-page .pagination-button {
    background-color: transparent;
    border: 1px solid #99235C;
    color: #99235C;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ventas-page .pagination-button:disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .ventas-page .pagination-numbers {
    display: flex;
    align-items: center;
  }
  
  .ventas-page .pagination-number {
    background-color: transparent;
    border: none;
    color: #99235C;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ventas-page .pagination-number.active {
    background-color: #99235C;
    color: white;
  }
  
  .ventas-page .pagination-number:hover:not(.active) {
    background-color: #f0f0f0;
  }
  
  .ventas-page .pagination-button{
    border: none
  }


  /* Responsive Design */

@media (max-width: 768px) {
  .ventas-page .search-bar {
    flex-direction: column;
  }
  .ventas-page .search-bar .search-button {
    width: 100%;
  }
  .ventas-page .clear-button {
    position: relative;
    left: 0;
    top: 0;
  }
  .ventas-page input[type="text"] {
    width: 100%;
  }
  .ventas-page .sales-list {
    flex-direction: column;
  }
  .ventas-page .sale-card {
    flex-direction: column;
  }
  .ventas-page .sale-card-header {
    flex-direction: column;
  }
  .ventas-page .sale-status {
    margin-top: 0;
  }
  .ventas-page .sale-info {
    flex-direction: column;
  }
  .ventas-page .info-top, .info-bottom {
    flex-direction: column;
  }
  .ventas-page .pagination {
    flex-direction: column;
  }
  .ventas-page .pagination-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .ventas-page .search-bar {
    margin-bottom: 10px;
  }
  .ventas-page .search-bar .search-button {
    padding: 5px;
  }
  .ventas-page input[type="text"] {
    padding: 10px;
  }
  .ventas-page .sales-list {
    margin-bottom: 10px;
  }
  .ventas-page .sale-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ventas-page .sale-card-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ventas-page .sale-status {
    font-size: 16px;
  }
  .ventas-page .sale-info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ventas-page .info-top, .info-bottom {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ventas-page .pagination {
    margin: 10px 0;
  }
  .ventas-page .pagination-button {
    padding: 5px;
  }
}