/* Ventas.css */

.ventas-page {
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }

  .ventas-page h1 {
    text-align: center;
    color: #99235C;
  }
  
  
  .ventas-page .search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .ventas-page .search-bar .search-button {
    color: #ffffff;
    background: #99235C;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .ventas-page .clear-button {
    position: absolute;
    color: #99235C;
    left: 40rem;
    top: 0.9rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  
  
  .ventas-page input[type="text"] {
    padding: 12px;
    width: 30%;
    max-width: 400px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #e6e6e6;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .ventas-page .sales-list {
    display: flex;
    flex-direction: column;
  }
  
  .ventas-page .sale-card {
    border: 1px solid #ddd;
    border-radius: 20px 0;
    padding: 25px;
    margin-bottom: 10px;
  }
  
  .ventas-page .sale-card-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .ventas-page .sale-status {
    flex: 0 0 100px;
    text-align: left;
    font-weight: bold;
    margin-top: calc(6%);
    margin-left: 1rem;
    margin-right: 2rem;
  }
  
  .ventas-page .sale-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .ventas-page .info-top, .info-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
  
  .ventas-page .info-top {
    font-size: 20px;
    color: #99235C;
    font-weight: bold;
  }
  
.ventas-page .info-bottom {
    font-size: 0.9rem;
  }
  
  .ventas-page .info-item {
    display: inline-flex;
    align-items: center;
    margin-top: auto;
  }
  
  .ventas-page .info-item:not(:last-child)::after {
    content: ' | ';
    margin-left: 5px;
    margin-right: 5px;

  }
  
  .ventas-page .info-item.purple {
    color: #99235C; /* Morado */
  }
  
  .ventas-page .info-item.gray {
    color: #525252; /* Gris */
  }

  .ventas-page .info-item + .info-item {
    margin-left: 0; /* Reduce o elimina el margen izquierdo para el siguiente elemento */
  }
  
  .ventas-page .info-item-link {
    margin-left: 5px; /* Ajusta el valor según sea necesario */
  }
  
  .ventas-page .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .ventas-page .pagination-button {
    background-color: transparent;
    border: 1px solid #99235C;
    color: #99235C;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ventas-page .pagination-button:disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .ventas-page .pagination-numbers {
    display: flex;
    align-items: center;
  }
  
  .ventas-page .pagination-number {
    background-color: transparent;
    border: none;
    color: #99235C;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ventas-page .pagination-number.active {
    background-color: #99235C;
    color: white;
  }
  
  .ventas-page .pagination-number:hover:not(.active) {
    background-color: #f0f0f0;
  }
  
  .ventas-page .pagination-button{
    border: none
  }